{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FLH PVCloud Console</title>

    <!-- build:css styles/main.css -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/3-col-portfolio.css" %}" rel="stylesheet">
    <!-- endbuild -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PVCloud Console</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <!--
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        -->
        <!-- /.row -->

        {% for pvslist in pvsmatrix %}
        <!-- Projects Row -->
        <div class="row">
            {% for pvs in pvslist %}
            <div class="col-md-4 portfolio-item">
                <a href="{{ pvs.url }}">
                    <div id="{{ pvs.chart_id }}" style="width:100%; height:300px" alt="{{ pvs.serial }}"></div>
                </a>
                <h3>
                    <a href="{{ pvs.url }}">{{ pvs.address }}</a>
                </h3>
                <p>public ip address: {{ pvs.public_ip }}</p>
                <p>local ip address: {{ pvs.private_ip }}</p>
                <p>last report time: {{ pvs.last_update_time }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        {% endfor %}

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- build:js scripts/main.js -->
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- amCharts -->
    <script src="{% static "amcharts/amcharts.js" %}"></script>
    <script src="{% static "amcharts/serial.js" %}"></script>

    <script>
	{% for pvslist in pvsmatrix %}
	{% for pvs in pvslist %}
	{% autoescape off %}
 	    var {{ pvs.chart_data_var }} = {{ pvs.chart_data_value }};
	{% endautoescape %}
	{% endfor %}
	{% endfor %}
    </script>

	<script src="{% static "js/mkchart_en_hourly_0000000097894c9b.js" %}"></script>
    <script src="{% static "js/mkchart_en_hourly_00000000f6392e07.js" %}"></script>
    <script src="{% static "js/mkchart_en_hourly_0000000092a0bc9c.js" %}"></script>
    <script>
	{% for pvslist in pvsmatrix %}
	{% for pvs in pvslist %}
	{% autoescape off %}
		var chart_hourly = AmCharts.makeChart({{ pvs.chart_id }}, config_{{ pvs.serial }});
	{% endautoescape %}
	{% endfor %}
	{% endfor %}
    </script>
    <!-- endbuild -->

</body>

</html>
