   <div id="wrapper" ng-controller="UsersiteCtrl">
        <!-- add header here -->
        <header id="masthead" class="site-header" role="banner">
            <div class="top-bar container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navigation">
                        <span class="icon-bars">Toggle navigation</span>
                    </button>
                </div>

                <div class="site-branding title-area">
                    <h1 id="logo" class="site-title">
                    <a href="#">{{site.title}}</a>
                    </h1>

                    <div class="site-description" itemprop="description">{{site.description}}
                    </div>			
                </div>
                <div class="header-search right">
                    <a href="#" class="search-toggler">
                    <span><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <nav id="site-navigation" class="site-navigation pull-right">
                    <div id="navbar-collapse" class="navbar-collapse">
                        <ul id="navigation" class="nav navbar-nav navbar-right">
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>			
                </nav>
            </div>
        </header><!-- #masthead -->
                
        <!-- add main content here -->
        <div id="content" class="site-content container">
        <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            
            <article class="post-5 page type-page status-publish hentry">
                <header class="entry-header">
                  <h1 class="entry-title">{{site.content.title}}</h1>	
                </header><!-- .entry-header -->
                
                <div class="entry-content">

                    <div class="well">
                        <caption><strong>統計報告</strong></caption>
                        <table class="table">
                            <thead>
                                <tr><th></th><th>今日</th>
                                <th>本月</th>
                                <th>總計</th></tr>
                            </thead>
                            <tbody>
                                <tr><th>發電量(度)</th>
                                    <td>{{site.content.summary.energy.today | number}}</td>
                                    <td>{{site.content.summary.energy.month | number}}</td>
                                    <td>{{site.content.summary.energy.total | number}}</td></tr>
                                <tr><th>減碳量(公斤)</th>
                                    <td>{{site.content.summary.carbon.today | number}}</td>
                                    <td>{{site.content.summary.carbon.month | number}}</td>
                                    <td>{{site.content.summary.carbon.total | number}}</td></tr>
                                <tr><th>收益(台幣)</th>
                                    <td>{{site.content.summary.profit.today | currency}}</td>
                                    <td>{{site.content.summary.profit.month | currency}}</td>
                                    <td>{{site.content.summary.profit.total | currency}}</td></tr>
                            </tbody>
                        </table>
                    </div><!-- .well -->

                    <div class="well">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-left" role="tablist">
                            <li role="presentation" class="active"><a href="#engHourly" aria-controls="engHourly" role="tab" data-toggle="tab">Hourly</a></li>
                            <li role="presentation"><a href="#engDaily" aria-controls="engDaily" role="tab" data-toggle="tab">Daily</a></li>
                            <li role="presentation"><a href="#engMonthly" aria-controls="engMonthly" role="tab" data-toggle="tab">Monthly</a></li>
                            <li role="presentation"><a href="#engYearly" aria-controls="engYearly" role="tab" data-toggle="tab">Yearly</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--
                                <div role="tabpanel" class="tab-pane active" id="engHourly">...</div>
                                <div role="tabpanel" class="tab-pane" id="engDaily">...</div>
                                <div role="tabpanel" class="tab-pane" id="engMonthly">...</div>
                                <div role="tabpanel" class="tab-pane" id="engYearly">...</div>
                                --> 
                                <div id="amchart1" style="width: 100%; height: 300px;"></div>    
                            </div>
                            
                        </div>
                        
                    </div> <!-- .well -->
                    
                    <!--
                    <div class="well">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tr ><th class="text-center" colspan="3">目前輸出</th></tr>
                                    <tr><th>電壓</th><td>{{site.content.currentOutput.voltage}}</td><th>V</th></tr>
                                    <tr><th>電流</th><td>{{site.content.currentOutput.current}}</td><th>A</th></tr>
                                    <tr><th>功率</th><td>{{site.content.currentOutput.power}}</td><th>W</th></tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr><th class="text-center" colspan="3">現場環境</th></tr>
                                    <tr><th>紫外線指數</th><td>{{site.content.environment.uv}}</td><th></th></tr>
                                    <tr><th>溫度</th><td>{{site.content.environment.temperature}}</td><th>C</th></tr>
                                    <tr><th>能見度</th><td>{{site.content.environment.visibility}}</td><th>Km</th></tr>
                                </table>
                            </div>
                        </div>
                    </div>--><!-- .well -->
                    
                    
                </div><!-- .entry-content -->
                
                <footer class="entry-footer">
                </footer><!-- .entry-footer -->

            </article>

        </main><!-- #main -->
        </div><!-- #primary -->
        </div><!-- #content -->

        <footer id="colophon" class="site-footer container" role="contentinfo">
            <div class="credit">
                <a href="#" title="Semantic Personal Publishing Platform" target="_blank">Powered by FLH</a>.
            </div>
            <div class="divider-half"></div>
        </footer><!-- #colophon -->


    </div> <!-- #wrapper -->
      

